<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <form action="/add-student" method="post">
    
    <input type="text" name="name" placeholder="Enter Student Name" required>

    <input type="text" name="email" placeholder="Enter Student Email" required>

    <input type="number" name="age" placeholder="Enter Student Age" required>

    <button type="submit">Add Students</button>
</form>
</body>
</html>