<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/submit-email"method = "Post">
        <input type = "text" placeholder="enter username" name = "name">
        <br> <br>

       <textarea type = "text" placeholder = "enter mail"  name="mail"></textarea>
        <br> <br>

        <button>Send Mail</button>
    </form>
</body>
</html>