body{
    background-color: #08eff7;
    font-family: Arial, sans-serif;
}

h1 {
    color: #cf0505;
    text-align: center;
    margin-top: 50px;
}
h2 {
    color: #ba1414;
    text-align: center;
    margin-top: 20px;
}   